In [4]:
#Q1
print ('Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\t\tUp above the world so high\n\t\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are');

Twinkle, twinkle, little star,
	How I wonder what you are!
			Up above the world so high
			Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [5]:
#Q2

import sys
print("Python version")
print (sys.version)

Python version
3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [6]:
#Q3

import datetime
datetime_ob = datetime.datetime.today()
print(datetime_ob)

2019-11-04 11:03:54.556384

In [7]:
#Q4

r =float(input(" Enter radius of the circle = "))
Area = 3.14*r**2

 Enter radius of the circle = 3

In [8]:
#Q5

fn=input("Enter your first name = ")
ln=input("Enter your last name = ")
print("Name in reverse = ",ln + " " + fn)

Enter your first name = Bisharat
Enter your last name = Zardari
Name in reverse =  Zardari Bisharat

In [9]:
#Q6

one= int(input("Enter first number = "))
two= int(input("Enter second number = "))
output= one + two
print("Result =",output)

Enter first number = 3
Enter second number = 5
Result = 8